body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3ebdb;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background-color: #f3ebdb; /* Cambiado */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

#about {
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    max-width: 600px;
    margin-top: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stats div {
    text-align: center;
}

#portfolio {
    text-align: center;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    width: 300px;
    margin-bottom: 20px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#experience ul {
    list-style: none;
    padding: 0;
}

#experience li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

